@import '_settings.scss';
@import '_base.scss';
@import './components/_header.scss';


* {
	padding: 0;
	margin: 0;
}

*.color_blue {
	color: #009ad6;
}

*.color_blue_bright {
	color: #f1f6f9;
}

*.color_blue_light {
	color: #e7f0f7;
}

*.color_grey {
	color: #3b3f4a;
}

*.color_grey_light {
	color: #8b98ab;
}


button {
	background: #009ad6;
	color: black;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 5px 8px;
	border-radius: 10px;
	&:focus, &:active {
		border: none;
		outline: none;	
	}

	&:hover {
		border: none;
		out-line: none;	
		background: transparent;
		color: black;
	}
}


