$color_blue: #009ad6;

$color_blue_bright: #f1f6f9;

$color_blue_light: #e7f0f7;

$color_grey: #3b3f4a;

$color_grey_light: #8b98ab;


#header {

	> * {
		color: $color_grey;
	}

	height: 56px;
	border-bottom: 1px solid $color_blue_bright;
	display: flex;
	> div {
		flex: 1;
		cursor: pointer;
	}
	div {
		display: inline-block;
	}
	.logo {
		width: 320px;
	}

	._left_wrap, ._right_wrap {
		height: 100%;
		display: flex;
		align-items: center;

		> div {
			padding: 0 30px;
		}

		p {
			font-size: 13px;
		}
	}

}


#categories_menu, #locations_menu {
	box-sizing: border-box;
	min-width: 170px;
	position: relative;
	ul {
		position: absolute;
		top: 40px;
	}

}

._show_wrap {
	display: flex;
	p {
		display: inline-block;
	}
	img {
		display: inline-block;
		max-width: 20px;
	}

}


.logo {

	img {
		width: 100px;
	}

}

.search {
	img {
		width: 15px;
	}
}


.event_action {
	padding: 0;
	margin: 0;
	font-size: 13px;
}

.avatar {
	padding: 0 !important;
	margin: 0 !important;
	border: 1px solid $color_grey_light;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}

span.svg_arrow {

	svg {
		fill: $color_grey;
	}
	._rotate {
		transform: rotate(180deg);
	}

}